{% extends "base_generic.html" %}




{% block content %}

<div class="container-fluid" style="position: absolute; left: 22%; height: 55%; width: 74%;  border: 0px solid gray;">


Hi {{ user.username }} your id: {{ user.id }}

<form action="" method="post">
    {% csrf_token %}
Hi {{ user.username }} your id: {{ user.id }}
 		{{ formset.management_form }}

    {% for form in formset %}

      {% for field in form %}
        {% if forloop.counter < 10  %}
   <div class="container-fluid" style=" left: 0%; height: 20px; width: 100%;  ">
      <div class="container-fluid" style="position: absolute; left: 20%;  width: 15%; align: left; ">
        {{ field.label_tag }}
      </div>
        <div class="container-fluid" style="position: absolute; left: 30%;  width: 50%; align: right;">
         {{ field }} </p>
       </div>
   </div>
   {% endif %}
        {% endfor %}
    {% endfor %}


    <div class="container-fluid" style="position: absolute; left: 30%;  width: 50%; align: right;">
    <input type="submit" value="Submit" />
  </div>


</form>

  {% endblock %}
