


  <div class="dropdown">
    <button class="button" type="button" data-toggle="dropdown">PATTERN CUTTING
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="http://www.google.com">VIEW ALL</a></li>

      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">LAPEL & COLLAR <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="dropdown-submenu">
            <a class="test" tabindex="-1" href="#">BASIC COLLARS <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="#">BASIC COLLAR WITH FIRM STAND 1</a></li>
              <li><a tabindex="-1" href="#">BASIC COLLAR WITH FIRM STAND 2</a></li>
              <li><a tabindex="-1" href="#">CHINA COLLAR</a></li>

            </ul>
          </li>
          <li><a tabindex="-1" href="#">LAPEL: COLLAR 1 DOUBLE BRASTED</a></li>
          <li><a tabindex="-1" href="#">LAPEL: COLLAR 1 SINGLE BRASTED</a></li>
          <li><a tabindex="-1" href="#">LAPEL: COLLAR 2 DOUBLE BRASTED</a></li>
          <li><a tabindex="-1" href="#">LAPEL: COLLAR 2 SINGLE BRASTED</a></li>
          <li><a tabindex="-1" href="#">PETER PAN COLLAR</a></li>
          <li><a tabindex="-1" href="#">SHAWL COLLAR 1 SINGLE BREASTED</a></li>
          <li><a tabindex="-1" href="#">TRENCH COAT 1</a></li>
        </ul>
      </li>

      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">OUTERWEAR <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">tom</a></li>
          <!--li><a tabindex="-1" href="#">COAT WITH DARTS 1</a></li>
          <li><a tabindex="-1" href="#">COAT WITH SIDEPANEL</a></li>
          <li><a tabindex="-1" href="#">OVERSIZED COAT</a></li>
          <li><a tabindex="-1" href="#">PRINCESS CUT COAT 1</a></li-->
        </ul>
      </li>

      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">OUTERWEAR SLEEVES <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">tom</a></li>
          <!--li><a tabindex="-1" href="#">HALF CIRCLE SKIRT 1</a></li>
          <li><a tabindex="-1" href="#">QUARTER CIRKLE SKIRT 2</a></li-->
        </ul>
      </li>

      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">DRESSES <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">1st TOM</a></li>
          <li><a tabindex="-1" href="#">2nd TOM</a></li>
        </ul>
      </li>

      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">DRESS SLEEVES <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">1st TOM</a></li>
          <li><a tabindex="-1" href="#">2nd TOM</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">SHIRTS & SWEATSHIRT <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">tom</a></li>
          <!--li><a tabindex="-1" href="#">COAT WITH DARTS 1</a></li>
          <li><a tabindex="-1" href="#">COAT WITH SIDEPANEL</a></li>
          <li><a tabindex="-1" href="#">OVERSIZED COAT</a></li>
          <li><a tabindex="-1" href="#">PRINCESS CUT COAT 1</a></li-->
        </ul>
      </li>

      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">SHIRTS & SWEATSHIRT SLEEVES <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">tom</a></li>
          <!--li><a tabindex="-1" href="#">HALF CIRCLE SKIRT 1</a></li>
          <li><a tabindex="-1" href="#">QUARTER CIRKLE SKIRT 2</a></li-->
        </ul>
      </li>

      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">SKIRTS <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">1st TOM</a></li>
          <li><a tabindex="-1" href="#">2nd TOM</a></li>
        </ul>
      </li>

      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">TROUSERS<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">1st TOM</a></li>
          <li><a tabindex="-1" href="#">2nd TOM</a></li>
        </ul>
      </li>

    </ul>
  </div>






  <!--div class="dropdown">
  <button type="button" class="button">PATTERN CUTTING <i style="font-size:16px; color:gray;" class="fa">&#xf0d7;</i></button>
  <div class="dropdown-content" align="left">
  <small>
    <a class="drop"  style="text-decoration: none;" href="">VIEW ALL</a><br>

    <a class="drop"  style="text-decoration: none;" href="">LAPEL & COLLARS</a>
    <a class="drop"  style="text-decoration: none;" href="">OUTERWEAR </a>
    <a class="drop"  style="text-decoration: none;" href="">OUTERWEAR SLEEVES	</a>
    <a class="drop"  style="text-decoration: none;" href="">DRESSES	</a>
    <a class="drop"  style="text-decoration: none;" href="">DRESS SLEEVES </a>
    <a class="drop"  style="text-decoration: none;" href="">SHIRTS & SWEATSHIRTS </a>
    <a class="drop"  style="text-decoration: none;" href="">SHIRT & SWEATSHIRT SLEEVES </a>
    <a class="drop"  style="text-decoration: none;" href="">TROUSERS	</a>
    <a class="drop"  style="text-decoration: none;" href="">SKIRTS</a>

  </small>
  </div>
</div-->
