

  <div class="dropdown">

<button type="button" class="button">BASIC BLOCKS<i style="font-size:16px; color:gray;" class="fa">&#xf0d7;</i></button>
  <div class="dropdown-content" align="left">
    <small>
<a class="drop" style="text-decoration: none;" href="{% url 'drop01' %}">VIEW ALL</a>
<li class="divider"></li>
<a class="drop" style="text-decoration: none;" href="{% url 'drop01_dress_block' %}">DRESS BLOCK	</a>
<a class="drop" style="text-decoration: none;" href="{% url 'drop01_dress_sleeve' %}">DRESS SLEEVE</a>
<li class="divider"></li>
<a class="drop" style="text-decoration: none;" href="{% url 'drop01_shirt_sweatshirt' %}">SHIRT/SWEATSHIRT BLOCK</a>
<a class="drop" style="text-decoration: none;" href="{% url 'drop01_shirt_sleeve' %}">SHIRT SLEEVE</a>
<a class="drop" style="text-decoration: none;" href="{% url 'drop01_sweatshirt_sleeve' %}">SWEATSHIRT SLEEVE</a>
<li class="divider"></li>
<a class="drop" style="text-decoration: none;" href="{% url 'drop01_skirt_block' %}">SKIRT BLOCK</a>
<a class="drop" style="text-decoration: none;" href="{% url 'drop01_trouser_block' %}"> TROUSER BLOCK</a>
<a class="drop" style="text-decoration: none;" href="{% url 'drop01_coat_block' %}"> COAT BLOCK</a>
<a class="drop" style="text-decoration: none;" href="{% url 'drop01_jacket_block' %}"> JACKET BLOCK</a>
<li class="divider"></li>
<a class="drop" style="text-decoration: none;" href=""> ONE-PIECE OUTERWEAR SLEEVE</a>
<a class="drop" style="text-decoration: none;" href=""> TWO-PIECE OUTERWEAR SLEEVE</a>
<a class="drop" style="text-decoration: none;" href=""> ONE-PIECE OVERSIZE COAT SLEEVE</a>


<li class="divider"></li>
<a class="drop" style="text-decoration: none;" href=""> SHIRT/SWEATSHIRT BLOCK</a>
<a class="drop" style="text-decoration: none;" href=""> SHIRT SLEEVE</a>
<a class="drop" style="text-decoration: none;" href=""> SWEATSHIRT SLEEVE</a>
<li class="divider"></li>
<a class="drop" style="text-decoration: none;" href=""> SKIRT BLOCK</a>
<a class="drop" style="text-decoration: none;" href=""> TROUSER BLOCK</a>
<a class="drop" style="text-decoration: none;" href=""> COAT BLOCK</a>
<a class="drop" style="text-decoration: none;" href=""> JACKET BLOCK</a>
<li class="divider"></li>
<a class="drop" style="text-decoration: none;" href=""> ONE-PIECE OUTERWEAR SLEEVE</a>
<a class="drop" style="text-decoration: none;" href=""> TWO-PIECE OUTERWEAR SLEEVE</a>
<a class="drop" style="text-decoration: none;" href=""> ONE-PIECE OVERSIZE COAT SLEEVE</a>



  </small>
  </div>
</div>
