<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    z-index: 1;
}
</style>


  <div class="dropdown">
    <button class="button" type="button" data-toggle="dropdown">VARIATIONS OF BASIC
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">VIEW ALL</a></li>

      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">DRESSES <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">A-LINE DRESS</a></li>
          <li><a tabindex="-1" href="#">PRINCESS CUT DRESS 1</a></li>
          <li><a tabindex="-1" href="#">PRINCESS CUT DRESS 2</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">OUTERWEAR <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">A-LINE DRESS</a></li>
          <li><a tabindex="-1" href="#">PRINCESS CUT DRESS 1</a></li>
          <li><a tabindex="-1" href="#">PRINCESS CUT DRESS 2</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">SKIRTS <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">FULL CIRCLE SKIRT</a></li>
          <li><a tabindex="-1" href="#">HALF CIRCLE SKIRT 1</a></li>
          <li><a tabindex="-1" href="#">QUARTER CIRKLE SKIRT 2</a></li>
        </ul>
      </li>
    </ul>
  </div>



<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
