
  <div class="dropdown">
    <button type="button" class="button"  data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">
    The Studio <i style="font-size:16px; color:gray;" class="fa">&#xf0d7;</i></button>
    <div class="dropdown-content" align="left"">
  <div class="dropdown-content" align="left">
  <small>
    <a class="drop"   style="text-decoration: none;" href="{% url 'about' %}">ABOUT</a>
    <a class="drop"   style="text-decoration: none;" href="">CONTACT</a>
    <a  class="drop"  style="text-decoration: none;" href="{% url 'drop05_how2_meas' %}">HOW TO TAKE MEASUREMENTS	</a>
    <a class="drop"   style="text-decoration: none;" href="">MEASUREMENT TABLE </a>
    <a  class="drop"  style="text-decoration: none;" href="">GLOSSARY & SYMBOLS	</a>
    <a  class="drop"  style="text-decoration: none;" href="">  FREE STUFF</a>
    </small>
  </div>
</div>
