

<div class="dropdown">
<button type="button" class="button"  data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">
NEW & PROJECTS<i style="font-size:16px; color:gray;" class="fa">&#xf0d7;</i></button>
<div class="dropdown-content" align="left"">
<small>
  <a class="drop"   style="text-decoration: none;" href="#">NEWS</a>
   <a class="drop"   style="text-decoration: none;" href="#">PROJECTS</a>
    <a class="drop"   style="text-decoration: none;" href="#">MORE</a>
</small>
</div>
</div>
